*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;

}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #181b1b;
    border-bottom: 1px solid #585757;

}
.logo{
    color: rgba(255, 255, 255, 0.632);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.list {
    display: flex;
    justify-content: space-around;
    width: 37%;

}
.list li{
    list-style: none;
 
}
.list a{
    color: rgba(255, 255, 255, 0.632);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;

}
.main{
    display: flex;
    color: white;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background: radial-gradient(rgba(31, 29, 29, 0.726),rgba(0, 0, 0, 0.973)), url('./img/home3.jpg');
    object-fit: contain;
    background-size: cover ;
    /* background-size: contain; */
    overflow: hidden;
    border-bottom: 1px solid #585757;
}
.typing{
    margin-top: 0px;
    margin-left: 20px;
    position: relative;
    }
/* .typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 6%;
    border-right:2px solid white ;
    animation: blink 0.5s infinite ease;
} */
.text-div{
    display: flex;
    margin-top: 10%;
    box-sizing: border-box;

    
}
.main{
    justify-content: center;
}
.section1{
    height: 100vh;
    background-color: #181b1b;
    border-bottom: 1px solid #585757;

}
.section-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.head-img{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.main-img{

    margin-top: 10px;
    width: 290px;
    height: 280px;
    background: rgb(36, 34, 34);
    border: 1px solid #ecebeb;
    border-radius:  200px;
}
.about_me{
    display: flex;
    color: white;
    justify-content: center;

}
.about_div{
    width: 755px;
    height: 140px;
}
.about_div p{
    display: flex;
}
.projects{  
    background-color: #181b1b;
    border-bottom: 1px solid #585757;
}
.main_card{
    /* margin:50px; */
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 430px;
    height: 435px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;

   
}

.hulu {
    width: 460px;
    height: 435px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}
.google{
    width: 460px;
    height: 435px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}
.whatsapp{
    width: 560px;
    height: 435px;
    border-radius: 50px;
   
   
}
.fab{
    float: right;
    margin-top: 40vh;
    margin-right: 40px;
    font-size: 40px;
    color: white;
}
.footer-component{
    background-color: #181b1b;
    height: 50vh;

}
.minn{

   
    width: 290px;
    height: 280px;
    border-radius:  200px;
}

.ptag{
    font-size: 20px;
}